.facebook {
    font-size:40px;
    margin-right:15px;
}
.twitter{
    font-size:40px;
    margin-right:15px;
}

.tiktok{
    font-size:40px;
    margin-right:15px;
}

.linkdin{
    font-size:40px;
    margin-right:15px;
    margin-top:10px;
}
a{
    color:white;
    
}

.bg-info-carosel-button-carosel-button{
    background-color:#289BDE;
}
img{
    width:100%;
    height:100%;
}
