.facebook {
    font-size:40px;
    margin-right:15px;
}
.twitter{
    font-size:40px;
    margin-right:15px;
}

.tiktok{
    font-size:40px;
    margin-right:15px;
}

.linkdin{
    font-size:40px;
    margin-right:15px;
}
a{
    color:white;
}


